.topBar {
	width: 100%;
	background-color: #F2F2F2;
	height: 60px;
}

.navBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navLeft {
    display: flex;
    align-items: center;
    height: 60px;
}

.navLeft .navLogo span {
    font-family: "Pacifico";
    font-size: 22px;
    color: #223240;
    margin-left: 10px;
    transition: 0.2s all;
}

.navLeft .navLogo a {
    text-decoration: none;
}

.navLeft .navLogo a:hover span {
    font-size: 23px;
    margin-left: 9px;
}



.navRight .navLinks {
    display: flex;
    align-items: center;
    height: 60px;
}

.navRight .navLinks a {
    text-decoration: none;
    padding:  17.5px 20px;
    font-family: "Quicksand","Arial";
    font-size: 20px;
    color: #223240;
    transition: 0.15s all;
}

.navRight .navLinks a:hover {
    background-color: #223240;
    color: #f2f2f2;
}


.navCheckbox {
	display: none;
	margin: 0;
	width: 60px;
	height: 60px;
	position: absolute;
	right: 0;
	top: 0;
}

.navBurgerLinks {
    display: block;
	position: absolute;
	top: 60px;
	width: 100%;
    z-index: 4;
}

.navBurgerLinks a {
    text-align: center;
    background-color: #f2f2f2;
    color: #223240;
    font-family: "Quicksand","Arial";
    font-size: 32px;
    padding: 20px 0;
    display: block;
    text-decoration: none;
}

.navCheckButton {
	display: none;
}

.navBurgerMenuBtn {
    display: none;
    margin-right: 10px;
    width: 32px;
    height: 32px;
    background-image: url('../images/menu.png');
    background-size: contain;
}

@media (max-width: 600px) {

    .navBurgerMenuBtn {
        display: block;
    }

    .navRight {
        display: none;
    }

    .navBurgerLinks {
        display: block;
    }

}

@media (min-width: 600px) {
    .navBurgerLinks {
        display: none;
    }
}


/* .navBurgerLinks a {
	text-decoration: none;
	width: 100%;
	padding: 20px 30px;
	font-family: Roboto, Arial, sans-serif;
	font-size: 24px;
	color: white;
	background-color: #000;
	display: block;
	transition: 0.15s all;
	box-sizing: border-box;
}

.navBurgerLinks a .navBurgerButton {
	text-decoration: none;
	width: 100%;
	display: block;
	transition: 0.15s all;
}

.navBurgerLinks a:hover {
	background-color: #35b55b;
	color: #fff;
}
 */